@font-face {
    font-family: "Roboto-regular";
    font-weight: 400;
    src: url('../fonts/Roboto-Regular.eot') format('embedded-opentype'),
    url('../fonts/Roboto-Regular.otf') format('opentype'),
    url('../fonts/Roboto-Regular.woff') format('woff'),
    url('../fonts/Roboto-Regular.woff2') format('woff2'),
    url('../fonts/Roboto-Regular.ttf') format('truetype'); 
}
@font-face {
    font-family: "Roboto-medium";
    font-weight: 500;
    src: url('../fonts/Roboto-Medium.eot') format('embedded-opentype'),
    url('../fonts/Roboto-Medium.otf') format('opentype'),
    url('../fonts/Roboto-Medium.woff') format('woff'),
    url('../fonts/Roboto-Medium.woff2') format('woff2'),
    url('../fonts/Roboto-Medium.ttf') format('truetype');
}