@import url('vars.css');
@import url('fonts.css');
@import url('utils.css');

/* обратиться ко всем тегам */
/* * {
    font-size: 2rem;
}*/

/* обратиться ко всем тегам ли */
/*li {
    font-size: 11px;
    color: blue;
    font-weight: 500;
    line-height: 14px;
    font-size: 11px;
    color: blue;
    font-weight: 500;
    line-height: 14px;
}*/
/* обратиться по идентификатору */
/*#help { 
    color: green;
}*/

/*.list-element {
    color: blueviolet;
    font-size: 1rem;
    line-height: 1.2;
}*/
body {
    margin: 0;
    padding: 0;
}

a {
    color: var(--main-black-color);
    text-decoration: none;
}

.container {
    margin-left: 2rem;
    margin-right: 2rem;
}

.link:hover {
    transition: color 0.5s;
    color: red;
}

.global-menu__element {
    font-size: 11px;
    padding: 0 24px 0 10px;   
}
.global-menu__element:not(:last-child) {
    border-right: 3px solid var(--main-black-color);
}

.global-menu__element:last-child {
    padding-right: 0;
}

.container {
    position: relative;
}

.header-mobile {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px 0;
    z-index: 999;
    background-color: #151515;
  }
  
  .nav-mobile {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  nav > a img {
    width: 100px;
    border-radius: 50%;
  }  

  .header__list {
    display: flex;
    gap: 20px;
    transition: .5s;
  }
  
  .header__link {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }

  .jord {
    font-size: 2rem;
    color: white;
  }
  
  label {
    display: none;
  }
  
  #burger-toggle {
    display: none;
  }


.border-bottom-menu ul {
    flex-direction: column;
    row-gap: 30px;
}

.search-button {   
    position: absolute;
    top: calc(50% - 10px); 
    background-color: transparent;
}

.search-input {
    border-radius: 100px;
    background: rgb(var(--main-white-color));    
    padding-left: 30px;
    padding-right: 30px;    
    line-height: 2.1;
}
.promo-action-button {
    border-radius: 100px;
    font-size: 1rem;
    color: rgb(var(--main-white-color));
    background: rgb(var(--main-almost-black-color));
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    }

.promo-button:hover {
    border-radius: 100px;
    font-size: 1rem;
    color: rgb(var(--main-almost-black-color));
    background: rgb(var(--main-white-color));
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    }


.menu-action-link {
    transition: all 0.2s linear;
    border-radius: 100px;
    border-color: rgb(var(--main-white-color));
    font-size: 1rem;
    color: rgb(var(--main-almost-black-color));
    background: rgb(var(--main-white-color));
    left: 20px;
    bottom: 40px;      
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    }    

.menu-link:hover {
    border-radius: 100px;
    border-color: rgb(var(--main-almost-black-color));
    font-size: 1rem;
    color: rgb(var(--main-white-color));
    background: rgb(var(--main-almost-black-color));
    left: 20px;
    bottom: 40px;      
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;   
    }    

.under-banner-title {
    margin-left: 39px;
}

.banner-text {
    font-size: 1rem;
    line-height: 1.5rem;
}

.menu-transition {
    transition: all 0.2s linear;
}

.menu {
    transition: all 0.2s linear;
}

.menu:hover {
    filter: drop-shadow(2px 4px 6px black);
    transform: scale(1.05);
}

.nav:hover {
    transition: color 0.5s;
    color: black;
}    

.icon:hover {
    transform: scale(1.4);
}
.border-hover:hover {
    padding: 5px;
    border: 1px solid black;
}

.menu-text {
    color: rgb(var(--main-gray-color));
}

.footer-style {
    background: rgb(var(--main-almost-black-color));
    color: rgb(var(--main-white-color));
    font-size: 0.7rem;
}

.arrow-style {
    border-radius: 50%;
    background: rgb(229, 229, 229);
    padding: 12px;
}

.product-font {
    color: rgb(var(--main-gray-color));
}

.new-clothes-nav-menu {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.shop-menu {
    grid-template-columns: 1fr 1fr 1fr;
}

@media (min-width: 992px) {
    .header-mobile {
        display: none;
    }
}


@media (max-width: 991.98px) {
    .nike-logo {
        display: none;
    }
    
    .header-wide {
        display: none;
    }

    label {
        position: relative;
        display: block;
        height: 25px;
        width: 30px;
      }
    
      label::after, label::before, label span {
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: white;
        transition: .3s;
      }
    
      label::before {
        content: "";
        top: 0;
      }
    
      label::after {
        content: "";
        bottom: 0;
      }
    
      label span {
        top: 11px;
      }
    
      #burger-toggle:checked ~ label::after {
        transform: rotate(45deg);
        bottom: 10px;
      }
    
      #burger-toggle:checked ~ label::before {
        transform: rotate(-45deg);
        top: 12px;
      }
    
      #burger-toggle:checked ~ label span {
        transform: rotate(-45deg);
        top: 12px;
      }
    
      .header__list {
        position: fixed;
        left: 0;
        right: 0;
        background-color: #151515;
        padding-top: 520px;
        padding-bottom: 1.5rem;
        z-index: -1;
        flex-direction: column;
        text-align: center;
    
        left: -100vw;
        right: 100vw;
    
      }
    
      #burger-toggle:checked ~ ul {
        left: 0;
        right: 0;
      }
    
      .header__link {
        font-size: 18px;
      }
    }    

    .clothes-types-nav > ul {
        padding-left: 0;
    }

    

    .air-max:not(:nth-child(-n+2)) {
        display: none;
    }
    .new-clothes-nav-menu {
        grid-template-columns: 1fr 1fr;
    }

    .font-size_3-5rem {
        font-size: 2rem;
    }

    .grid_columns {
        grid-template-columns: 1fr 1fr;
    }

   


@media (max-width: 576px) {
    .new-clothes-nav-menu {
        grid-template-columns: 1fr;
    }

    .font-size_3-5rem {
        font-size: 2rem;
    }
    
    .grid_columns {
        grid-template-columns: 1fr;
    }    
}