.font_regular {
    font-weight: 400;
    font-family: 'Roboto-regular';
}
.font_medium {
    font-weight: 500;
    font-family: 'Roboto-medium'
}

.font-size_3-5rem {
    font-size: 3.5rem;
}

.block {
    display: block;
}

.margin_center {
    margin: 0 auto;
}
.flex {
    display: flex;
}
.flex__justify_center {
    justify-content: center;
}
.flex__justify_between {
    justify-content: space-between;
}

.flex__items_center {
    align-items: center;
}

.drop__list-element-style {
    list-style-type: none;    
}

.grid {
    display: grid;
}

.grid_columns {
    grid-template-columns: 1fr 1fr 1fr;
}

.gap_1rem {
    gap: 1rem;
}

.gap_1-5rem {
    gap: 1.5rem;
}

.gap_5rem {
    gap: 5rem;
}
.gap_10rem {
    gap: 10rem;
}

.gap_29rem {
    top: 29rem;
}

.cursor_pointer {
    cursor: pointer;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.margin__top_2rem {
    margin-top: 2rem;
}

.margin__top_3rem {
    margin-top: 3rem;
}

.margin__left_2rem {
    margin-left: 2rem;
}

.background_transparent {
    background-color: transparent;
}

.no-border {
    border: none;
}

.margin-right {
        margin-right: 12px;
}

.no-outline {
    outline: none;
}

.no-margin {
    margin: 0;
}

.line_height {
    line-height: 2rem;
}

.no-padding {
    padding: 0;
}

.padding {
    padding: 1rem;
}

.text-align_center {
    text-align: center;
}

.width-100 {
    width: 100%;
}

.transform {
    transform: rotate(0.5turn);
}
